# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.idea/
.vscode/

# Environment
.env

# Pytest
.pytest_cache/

# Migrations cache
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db